{% extends "account/base.html" %}

{% load i18n staticfiles %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="form-signin">
        <div class="text-center">
            <img src="{% static 'img/logo.png' %}" alt="iRep Logo">
        </div>
    <hr>

    <div class="tab-content">
        <div class="tab-pane active">
            <h1>{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="text-muted text-center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-lg btn-danger btn-block"/>
            </form>

            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>

    </div>
    <hr>
        <div class="text-center">
            <ul class="list-inline">
                <li><a class="text-muted" href="{{ login_url }}" >{% trans "Sign In" %}</a></li>
                <li><a class="text-muted" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></li>

            </ul>
        </div>

        <div>

           <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <a href="javascript:changeAppLanguage('en')" class="btn btn-default">English</a>
                </div>
                <div class="btn-group" role="group">
                    <a href="javascript:changeAppLanguage('ar')" class="btn btn-default">عربي</a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
