{% load staticfiles i18n %}
  <!--jQuery -->
    <script src="{% static 'ui_lib/jquery/jquery.min.js' %}"></script>
    <!--Bootstrap -->
    <script src="{% static 'ui_lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- MetisMenu -->
    <script src="{% static 'ui_lib/metismenu/metisMenu.min.js' %}"></script>
    <!-- onoffcanvas -->
    <script src="{% static 'ui_lib/onoffcanvas/onoffcanvas.min.js' %}"></script>
    <!-- Metis core scripts -->
    <script src="{% static 'js/core.js' %}"></script>
    <script src="{% static 'app_js/common.js' %}"></script>
 