{% load staticfiles i18n %}


<div id="top">

    <header class="head">


        <nav class="navbar navbar-default irep-nav">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{% url 'index' %}" class="navbar-brand"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>


                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-nav-links animated fadeIn">

                        <!--<li class="active"><a href="#"><i class="fa fa-dashboard"></i>Activities</a></li>-->


                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="glyphicon glyphicon-user"></i> {% trans 'Sales Force' %}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu top-align user-align animated fadeIn">
                                <li><a href="{% url 'createSalesForce' %}"><i
                                        class=" glyphicon glyphicon-plus-sign"></i> {% trans 'Create Sales force' %}</a>
                                </li>

                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'viewSalesForceByUser' user.corp_users.get.slug %}">{% trans 'View all' %}</a></li>

                            </ul>
                        </li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="glyphicon glyphicon-sunglasses"></i> {% trans 'Clients' %}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu top-align user-align animated fadeIn">
                                <li><a href="{% url 'AddClient' user.corp_users.get.slug %}"><i class=" glyphicon glyphicon-plus-sign"></i> {% trans 'New Client' %}
                                </a></li>

                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'viewClient' user.corp_users.get.slug %}">{% trans 'View all' %}</a></li>

                            </ul>
                        </li>


                    </ul>


                    <ul class="nav navbar-nav navbar-nav-links navbar-right">


                        <li class="hidden-xs">

                            <a class="Setting-cog" href="" id="dropdownMenu1" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="true">
                                <span class="Setting-cog" data-toggle="tooltip" data-placement="left"
                                      data-original-title="Setting"> </span>
                                <i class="glyphicon glyphicon-cog"></i>
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu top-align2" aria-labelledby="dropdownMenu1">
                                <li><a href="{% url 'productList' user.corp_users.get.slug %}"><i
                                        class="fa fa-archive"></i> {% trans 'Products' %}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="fa fa-comments"></i> Bill board</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="fa fa-shopping-basket"></i> Retail Audit</a></li>
                                <li role="separator" class="divider"></li>


                                <li><a href="#"><i class="fa fa-cloud-download"></i> Export and emport </a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="glyphicon glyphicon-ok-sign"></i> Permisions</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Settings... </a></li>


                            </ul>


                        </li>

                        <li class="hidden-xs">

                            <div class="btn-group">
    <span class="messages" data-toggle="tooltip" data-placement="bottom" data-original-title="Messages">
    <a href="#right" data-toggle="onoffcanvas" aria-expanded="false" class="nav-btns">
    <i class="glyphicon glyphicon-bell"></i>
    <span class="label label-info">4</span>
    </a>
    </span>


                            </div>
                        </li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle user-btn" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                            <span class="media-heading">
                                    <i class="user-img"><img class="img-circle" src="{% static 'img/thumbnail.png' %}"></i>
                                    {{ user.get_full_name }}
                            </span>


                                <span class="caret"></span></a>
                            <ul class="dropdown-menu user-align user-droplist ">
                                <li><a href="#"><i class="glyphicon glyphicon-user"></i> My profile</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Change password</a></li>

                                <li role="separator" class="divider"></li>
                                <li>

                                    <a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> {% trans 'Logout' %}
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="visible-xs">

                            <a href="#right" data-toggle="onoffcanvas" aria-expanded="false" class="nav-btns">
                                <i class="glyphicon glyphicon-bell"></i>Messages
                                <span class="label label-info">4</span>
                            </a>


                        </li>


                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>


    </header>
    <!-- /.head -->
</div>
<!-- /#top -->