{% load staticfiles i18n %}
<div class="form-sample">
    <div class="pull-right">
        <a class="btn btn-default" href="{% url 'editForms' slug=user.corp_users.get.slug id=form.id %}">
            <span class="glyphicon glyphicon-pencil"></span>
            {% trans 'Edit' %}
        </a>
        <a href="{% url 'DeleteForm' form.id %}" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>
        </a>

    </div>
{#    <div class="pull-right">#}
{#        <a class="btn btn-default" href="{% url 'ViewFormsQuestion' id=form.id %}">#}
{#            <span class="glyphicon glyphicon-pencil"></span>#}
{#            {% trans 'Answers' %}#}
{#        </a>#}
{#    </div>#}
    <blockquote>
        <p>{{ form.form_name }} </p>
        <footer>{{ form.created_date }} </footer>
    </blockquote>
</div>