{% extends 'base/base.html' %}
{% load i18n staticfiles %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <div class="body bs-example">

        <h1 class="sub-titile"><i class="glyphicon glyphicon-list-alt"></i> {% trans 'Forms' %} <span class="pull-right">

        <a href="{% url 'addForms' user.corp_users.get.slug %}"  class="btn btn-primary btn-lg " ><i
            class="glyphicon glyphicon-plus-sign coloring1"></i> {% trans 'New Form' %} </a></span>

            <div class="clearfix"></div>
        </h1>


        <!-- new -->


        <div class="outer">


            <div class="col-md-12">
                {% for form in formList %}
                    {% include 'forms/form_card_grid.html' %}
                {% endfor %}

            </div>
        </div>


    </div>
{% endblock %}
{% block extra_js_src %}
{% endblock %}
{% block extra_javascript %}
{% endblock %}