{% load i18n %}
<!-- cust group -->
<div class="modal fade" id="productCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{% trans 'Add groups' %}</h4>
            </div>
            <form  id="saveCategory">
                <div class="modal-body">


                    {% csrf_token %}
                    <table class="table">
                        <thead>
                        <tr>

                            <th> {{ categoryForm.name.label }}</th>
                            <th>{{ categoryForm.is_active.label }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ categoryForm.name }}</td>

                            <td>
                                {{ categoryForm.is_active }}
                            </td>
                        </tr>


                        </tbody>
                    </table>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                    <button type="button" class="btn btn-primary" id="saveCategoryBtn">{% trans 'Save' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>