
   <!-- Modal -->
<div class="modal fade" id="needHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="     glyphicon glyphicon-question-sign"></i>Need Help?</h4>
      </div>
      <div class="modal-body">
      
     <strong>Call us now</strong> 
     
      <h3><span>(+202)44566878</span> <span>(+202)44566878</span></h3>
      <div class="divider-md"></div>
        <strong>Or send mail</strong> 
         <div class="divider-md"></div>
       <form class="form-vertical">
   <div class="form-group">
	<label >Title</label>
	<input class="form-control" placeholder="message titile" type="text">
	</div>
      
      
       <div class="form-group">
	<label >message </label>
	<textarea class="form-control" rows="3"></textarea>
	</div>
     
      
      
      
       </form>
       
             
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send </button>
      </div>
    </div>
  </div>
</div>
      <!-- Modal end -->
   
  
          