{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

    <!--content-->

    <div class="body bs-example">

        <div class="top-controlbar">
            <div class="col-lg-4" style="z-index: 50">


                <select id="lunchoption" class="selectpicker show-menu-arrow form-control bottom-align"
                        title="Please select a section to filter ...">


                    <option value="0">Summary</option>
                    <option value="1"> Clients</option>
                    <option value="2"> Activities</option>


                </select>
            </div>


            <div class="col-md-4" style="z-index: 50">

                <!--multiple data-max-options="4"-->
                <select id="lunch2" class="selectpicker show-menu-arrow form-control bottom-align"
                        title="Please select Governor ...">


                    <option>Cairo</option>
                    <option> Alexandria</option>
                    <option> qalyobia</option>
                    <option> sharqya</option>
                    <option> giza</option>


                </select>


            </div>

            <div class="col-md-4" style="z-index: 50">

                <select id="lunch2" class="selectpicker show-menu-arrow form-control bottom-align" multiple
                        data-max-options="4" title="Please select City ...">


                    <option>Maadi</option>
                    <option> Helwan</option>
                    <option> misr el qadima</option>
                    <option> sharqya</option>
                    <option> giza</option>


                </select>
            </div>


            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>

        <div class="cl-md-12">

            <form class="form-vertical">

                <div class="col-md-4">
                    <div class="form-group">

                        <div class='input-group date' id='datetimepicker1'>

                            <input type='text' class="form-control" placeholder="Date From"/>
                            <span class="input-group-addon">
    <span class="glyphicon glyphicon-calendar"></span>
    </span>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">

                        <div class='input-group date' id='datetimepicker2'>


                            <input type='text' class="form-control" placeholder="Date to"/>
                            <span class="input-group-addon">
    <span class="glyphicon glyphicon-calendar"></span>
    </span>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">

                    <div class="form-group">

                        <a href="#" class="btn btn-primary btn-md" title="">Apply</a>

                    </div>

                </div>

            </form>

        </div>


        <div class="clearfix"></div>


        <div id="map"></div>


        <!--content end -->

        <div class="clearfix"></div>


        <ul class="nav nav-pills float-statistic" role="tablist" id="summery">
            <li role="presentation"><a href="#">Active Reps <span class="badge">{{ activeRep|default:0 }}</span></a></li>
            <li role="presentation"><a href="#">Places <span class="badge">{{ clientCount|default:0  }}</span></a></li>
            <li role="presentation"><a href="#">Orders <span class="badge">{{ total_order|default:0  }}</span></a></li>
            <li role="presentation"><a href="#">Money Amount <span class="badge">{{ total_amount|default:0 }}</span></a></li>
        </ul>

        <ul class="nav nav-pills float-statistic" role="tablist" id="clients">
            <li role="presentation"><a href="#">New client <span class="badge">{{ clientCount|default:0  }}</span></a></li>
            <li role="presentation"><a href="#">Qualifying <span class="badge">2</span></a></li>
            <li role="presentation"><a href="#">Follow-up <span class="badge">10</span></a></li>

        </ul>


        <ul class="nav nav-pills float-statistic" role="tablist" id="Activities">
            <li role="presentation"><a href="#">Planned <span class="badge">42</span></a></li>
            <li role="presentation"><a href="#">Achieved <span class="badge">2</span></a></li>
            <li role="presentation"><a href="#">Missed <span class="badge">10</span></a></li>

        </ul>


    </div>
    </div>
    <!--content end -->



    <!--content end -->




{% endblock %}
{% block extra_javascript %}
    <script>
        $(document).ready(function () {
            var mySelect = $('#first-disabled2');

            $('#special').on('click', function () {
                mySelect.find('option:selected').prop('disabled', true);
                mySelect.selectpicker('refresh');
            });

            $('#special2').on('click', function () {
                mySelect.find('option:disabled').prop('disabled', false);
                mySelect.selectpicker('refresh');
            });

            $('#basic2').selectpicker({
                liveSearch: true,
                maxOptions: 1
            });
        });
    </script>


    <script>
        var map, infoWindow;
        // Location
        var flightPlanCoordinates = {};
        function initMap() {
            // Create a map object and specify the DOM element for display.
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 29.91685223, lng: 31.35498047},
                zoom: 5,
                zoomControl: false,
                scaleControl: true
            });

            infoWindow = new google.maps.InfoWindow;
{#            infoWindow.open(map);#}
{#            map.setCenter(pos);#}
{##}
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    infoWindow.open(map);
                    map.setCenter(pos);

                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }


            var bounds = new google.maps.LatLngBounds();
            {% for location in locations %}

                var icon = {
                    url: "{% if location.sales_force.avatar %}{{ location.sales_force.avatar.url }}{% else %}{% static  'img/user.gif'%}{% endif %}", // url
                    scaledSize: new google.maps.Size(60, 60), // scaled size
                    origin: new google.maps.Point(0, 0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
                };

                marker = new google.maps.Marker({
                    position: new google.maps.LatLng({{ location.latitude }}, {{ location.longitude }}),
                    map: map,
                    {#                    icon: icon,#}
                    label: '{{ location.sales_force.name }}'
                });
                {#                flightPlanCoordinates.push(marker.getPosition());#}

                addToflightDict({{ location.sales_force.id }}, marker.getPosition());
                bounds.extend(marker.position);
                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infoWindow.setContent('<img width="50px" height="50px" src="{% if location.sales_force.avatar %}{{ location.sales_force.avatar.url }}{% else %}{% static  'img/user.gif'%}{% endif %}"/><b>{{ location.sales_force.name }}</b><br/><b>{{ location.sales_force.phone }}</b><br/>{{ location.created_date }}');
                        infoWindow.open(map, marker);
                    }
                })(marker, {{ forloop.counter0 }}));


            {% endfor %}

            map.fitBounds(bounds);
            for (var key in flightPlanCoordinates) {
                new google.maps.Polyline({
                    map: map,
                    path: flightPlanCoordinates[key],
                    strokeColor: "#FF0000",
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                });
            }

        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }


        function addToflightDict(key, val) {
            if (flightPlanCoordinates.hasOwnProperty(key)) {
                flightPlanCoordinates[key].push(val);
            } else {
                flightPlanCoordinates[key] = [val];
            }
        }


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAP_KEY }}&callback=initMap"
            async defer></script>


    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                        format: 'YYYY-MM-DD',
                defaultDate:new Date()
                    }
            );
            $('#datetimepicker2').datetimepicker({
                        format: 'YYYY-MM-DD',
                 defaultDate:new Date()
                    }
            );
        });

        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        });

        document.getElementById('lunchoption').addEventListener('change', function () {
            var style = this.value == 0 ? 'block' : 'none';
            document.getElementById('summery').style.display = style;

            var style = this.value == 1 ? 'block' : 'none';
            document.getElementById('clients').style.display = style;

            var style = this.value == 2 ? 'block' : 'none';
            document.getElementById('Activities').style.display = style;
        });


    </script>
{% endblock %}