{% extends 'base/base.html' %}
{% load i18n staticfiles %}
{% block extra_head %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css">
{% endblock %}
{% block content %}
    <div class="body bs-example">
    <h1 class="sub-titile"><i class="glyphicon glyphicon-user"></i> {% trans 'Sales force' %}</h1>
    <div class="outer">
    <div class="col-md-12">
        <div id="collapse4" class="body">
            <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th>--</th>
                    <th>{% trans 'Place name' %}</th>
                    <th>{% trans 'Order date' %}</th>
                    <th>{% trans 'Sales force' %}</th>
                    <th>{% trans 'Amount' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for row in orders %}
                    <tr>
                      <td>{{ row.branch.name }}</td>
                      <td>{{ row.created_date }}</td>
                       <td>{{ row.sales_force.name }}</td>
                      <td>{{ row.total }}</td>

                    </tr>
                {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

    <div>


    </div>
{% endblock %}
{% block extra_js_src %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.26.6/js/jquery.tablesorter.min.js"></script>
{% endblock %}
{% block extra_javascript %}
    <script>
        $(function () {
            Metis.MetisTable();
            Metis.metisSortable();
        });
    </script>
{% endblock %}