<div class="col-md-12"><h1 class="sub-titile"> Activities by Type</h1></div>

<div class="summary_segment">

    <ul class="activities list">
        <li class="hasicon col-md-6 col-xs-12"><span class="activity"><i class="glyphicon glyphicon-list-alt"></i> Forms</span><span
                id="rn-rep-sum-forms" activity="form" class="value home-post-link">343</span></li>
        <li class="hasicon col-md-6 col-xs-12"><span class="activity"><i class="glyphicon glyphicon-check"></i> Retail audits</span><span
                id="rn-rep-sum-audits" activity="pricescan" class="value home-post-link">12</span></li>

        <li class="hasicon col-md-6 col-xs-12"><span class="activity"><i class="glyphicon glyphicon-camera"></i> Photos</span><span
                id="rn-rep-sum-photos" activity="photo" class="value home-post-link">5</span></li>

        <li class="hasicon col-md-6 col-xs-12"><span class="activity"><i
                class="glyphicon glyphicon-pencil"></i> Notes</span><span id="rn-rep-sum-client-notes"
                                                                          activity="clientnote"
                                                                          class="value home-post-link"
                                                                          unidocid="">2</span></li>

        <li class="hasicon col-md-6 col-xs-12"><span class="activity"><i class="glyphicon glyphicon-flag"></i> New places</span><span
                id="rn-rep-sum-new-client" activity="newclient" class="value home-post-link">5</span></li>

        <li class="hasicon col-md-6 col-xs-12"><span class="activity"><i class="glyphicon glyphicon-tasks"></i> Status changes</span><span
                id="rn-rep-sum-client-status" activity="clientstatuschange" class="value home-post-link">0</span></li>

        <li class="hasicon col-md-6 col-xs-12"><span class="activity"><i class="glyphicon glyphicon-pushpin"></i> Orders</span><span
                id="rn-rep-sum-order" activity="document" class="value home-post-link">1</span></li>
    </ul>

</div>

<div class="clearfix"></div>
<div class="divider-lg"></div>

<div class="col-md-12"><h1 class="sub-titile"> Schedule planning</h1></div>


<div class="summary_segment">

    <ul class="activities scad-plan list">
        <li class="hasicon col-md-6 col-xs-12"><span class="activity"><i
                class="glyphicon glyphicon-calendar gray-ico"></i> Forms</span><span id="rn-rep-sum-forms"
                                                                                     activity="form"
                                                                                     class="value home-post-link">343</span>
        </li>

        <li class="hasicon col-md-6 col-xs-12"><span class="activity"><i
                class="glyphicon glyphicon-calendar gray2-ico"></i> Retail audits</span><span id="rn-rep-sum-audits"
                                                                                              activity="pricescan"
                                                                                              class="value home-post-link">12</span>
        </li>

        <li class="hasicon col-md-6 col-xs-12"><span class="activity"><i
                class="glyphicon glyphicon-calendar blue-ico"></i>Photos</span><span id="rn-rep-sum-photos"
                                                                                     activity="photo"
                                                                                     class="value home-post-link">5</span>
        </li>

        <li class="hasicon col-md-6 col-xs-12"><span class="activity"><i
                class="glyphicon glyphicon-calendar red-ico"></i> Notes</span>
            <span activity="clientnote" class="value home-post-link" unidocid="">2</span></li>


    </ul>

</div>

<div class="clearfix"></div>
<div class="divider-md"></div>
<div class="sales-total"><span class="activity">Total</span><span activity="document" class="value home-post-link money"
                                                                  id="UkLokacija">$0.00</span></div>


<div class="clearfix"></div>

<div class="divider-lg"></div>