{% load i18n %}
<div class="col-md-12"><h1 class="sub-titile">{% trans 'Effort' %}</h1></div>
<div class="row" id="effort">
    <div class="col-sm-12 col-md-3">
        <div class="thumbnail report-blk">

            <div class="caption">
                <small>{% trans 'Days active' %}</small>
                <h3>0</h3>
                <p>{% trans 'Total number of days with activities' %}</p>

            </div>
        </div>
    </div>


    <div class="col-sm-12 col-md-3">
        <div class="thumbnail report-blk">

            <div class="caption">
                <small>{% trans 'Working time' %}</small>
                <h3>0h:0m</h3>
                <p> {% trans 'Total working time' %}
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-3">
        <div class="thumbnail report-blk">

            <div class="caption">
                <small>{% trans 'Mileage (km)' %}</small>
                <h3>0h:0m</h3>
                <p>{% trans 'Total Mileage' %}
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-3">
        <div class="thumbnail report-blk">

            <div class="caption">
                <small>{% trans 'Visited places' %}</small>
                <h3 id="totalVisits">0</h3>
                <p>{% trans 'Total visited places' %}
            </div>
        </div>
    </div>

</div>