{% load i18n %}
<div class="col-sm-12 col-md-4">
    <div class="thumbnail report-blk">

        <div class="caption">
            <small>{% trans 'Time at place' %}</small>
            <h3>{% trans '0h:0m' %}</h3>
            <p>{% trans 'Total time spent at place' %}</p>

        </div>
    </div>
</div>

<div class="col-sm-12 col-md-4">
    <div class="thumbnail report-blk">

        <div class="caption">
            <small>{% trans 'Place visits' %}</small>
            <h3>0</h3>
            <p>{% trans 'Total time spent at place' %}</p>

        </div>
    </div>
</div>


<div class="col-sm-12 col-md-4">
    <div class="thumbnail report-blk">

        <div class="caption">
            <small>{% trans 'Activities' %}</small>
            <h3>0</h3>
            <p>{% trans 'Total time spent at place' %}</p>

        </div>
    </div>
</div>
