{% load  i18n %}
<div class="col-md-12"><h1 class="sub-titile"> {% trans 'Track visits' %}</h1></div>
<div class="row" id="tracking">
    <div class="col-md-12">
        <div class="track-rus"> {% trans 'Result: from' %} <span class="label  label-warning" id="from_date"></span> {% trans 'to' %}
            <span class="label  label-warning " id="to_date"></span>
        </div>
        <div class="divider-md"></div>
        
        <h2  class="sub-titile">{% trans 'Schedule' %}</h2>
        <fieldset class="track-visit" id="tracking2">
            {% include 'sales_force/visit_track_rows.html' %}

        </fieldset>

        <h2  class="sub-titile">{% trans 'Location tracking' %}</h2>
        <fieldset class="track-visit" id="tracking3">
            {% include 'sales_force/visit_track_rows2.html' %}

        </fieldset>


    </div>
</div>

<div class="divider-lg"></div>
