{% load i18n %}
{% for row in tracking %}
    <tr>
        <td><span class="label label-primary">{{ row.check_in_date }}</span>{{ row.check_in_time }}</td>

        <td><span class="label label-danger">{{ row.check_out_date }}</span>{{ row.check_out_time }}</td>
        <td>{{ row.branch.name }}</td>
        <td>
            <span class="label label-gray"> {% trans 'Longitude:' %} {{ row.latitude }}</span>
            <span class="label label-gray"> {% trans 'latitude:' %} {{ row.longitude }}</span>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td>{% trans 'No data found' %}</td>
    </tr>

{% endfor %}