{% load i18n %}

<table class="table tracking-table" >
    <thead>
    <tr>
        <th>{% trans 'Client' %}</th>
        <th>{% trans 'status' %}</th>
        <th>{% trans 'CheckIn Date\Time' %}</th>
        <th>{% trans 'CheckOut Date\Time' %}</th>
        <th>{% trans 'Meeting Duration' %}</th>
        <th>{% trans 'Forms' %}</th>


    </tr>
    </thead>
    <tbody>
    {% for row in tracking %}
        <tr>
            <td>{{ row.branch.name }} {{row.get_sec}}</td>
            {% if row.get_sec < 0 %}
                <td><span class="label label-info">{% trans 'Early' %}</span></td>
            {% elif row.get_sec == 0 %}
                <td><span class="label label-success">{% trans 'On time' %}</span></td>
            {% else %}
                <td><span class="label label-danger">{% trans 'Delay' %}  {{ row.getDelay }}</span></td>
            {% endif %}

            <td><span class="label label-primary">{{ row.check_in_date }}</span>{{ row.check_in_time }}</td>

            <td><span class="label label-danger">{{ row.check_out_date }}</span>{{ row.check_out_time }}</td>
            <td>{{ row.getTimeDiff }}</td>
            <td><a href="{% url 'exportFormAnswer' row.visit.id %}" download="iREP-File01"><i class="glyphicon glyphicon-save-file" download=""></i>Download</a></td>

        </tr>
    {% empty %}
        <tr>
            <td>{% trans 'No data found' %}</td>
        </tr>

    {% endfor %}
    </tbody>

</table>
